---
kind: "BuildConfig"
apiVersion: "build.openshift.io/v1"  #3.11 v1
metadata:
  name: "tf-cnn-benchmark-build" 
spec:
  source: 
    type: "Git"
    git:
      uri: "https://github.com/sub-mod/empty-repo"
  strategy: 
    type: "Docker"
    dockerStrategy:
      dockerfilePath: ./tf_cnn/Dockerfile
  output: 
    to:
      kind: "ImageStreamTag"
      name: "tf-cnn-benchmark:latest"
---
kind: "BuildConfig"
apiVersion: "build.openshift.io/v1" 
metadata:
  name: "tf-cnn-benchmark-build-4x" 
spec:
  source: 
    type: "Git"
    git:
      uri: "https://github.com/sub-mod/empty-repo"
  strategy: 
    type: "Docker"
    dockerStrategy:
      noCache: false
      dockerfilePath: ./tf_cnn/Dockerfile.centos7
  output: 
    to:
      kind: "ImageStreamTag"
      name: "tf-cnn-benchmark:latest"